body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    text-align: center;
    padding: 30px;
    background-color: #000;
    color: white;
}

.profile-photo {
    width: 200px;
    height: 112,4px;
    margin-top: 15px;
    border: 4px solid #fff;
}

section {
    padding: 25px;
    margin: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2 {
    color: #000;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #555;
}

.hobby-video {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #555;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #000;
    color: white;
}

td {
    background-color: #f7f7f7;
}
